body{
  font-family: system-ui;
}
.inicio-container{
  display: flex;
  flex-direction: row;
}

.inicio-bloque-izq{
  width: 55%;
  border-right:  2px #cccccc solid;
  height: 100vh;
}

.inicio-bloque-der{
  width: 45%;
}
body{
  margin: 0px;
}

:root{
  margin: 0px;
  padding: 0px;
}

.imagen-adaptable {
  max-width: 100%; /* No permite que sea más ancha que su contenedor */
  height: auto;    /* Mantiene la proporción original (no se estira) */
  display: block;  /* Elimina el espacio extra debajo de la imagen */
  max-height: 80vh;
}

.logo-facebook{
  margin-top: 40px;
  margin-left: 40px;
}

.container-login{
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloque-input{
  width: 75%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #cccccc;
  padding-left: 20px;
  font-size: 20px;
}

.button-entrar{
  width: 79%;
  height: 40px;
  border-radius: 40px;
  border: 0px solid;
  color: white;
  background-color: #1a75ff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.button-registrarse{
  width: 79%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #cccccc;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.container-registrarse{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-atras-registro{
  font-size: 15px;
  align-self: flex-start;
  margin-left: 20px;
  border: none;
  background-color: #1a75ff;
  color: white;
  height: 30px;
  border-radius: 30px;
  width: 70px;
  cursor: pointer;
  margin-bottom: 20px;
}

.error-registro{
  font-size: 12px;
  color: red;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
  background-color: #333333;
  height: 45px;
  border-bottom: 1px solid #a6a6a6;
}

.icono-casa{
  color: #a6a6a6;
}

.desplegable-perfil{
  background-color: grey;
  z-index: 2;
  position: absolute;
  right: 5px;
  padding: 20px;
  border-radius: 10px;
}

.contenedor-button-perfil{
  display: flex;
  flex-direction: row;
  align-items: end;
  cursor: pointer;
}

.foto-nombre{
  display: flex;
  justify-content: center;
  border-bottom: white 1px solid;
  padding-bottom: 5px;
}

.nombre-desplegable{
  font-family: system-ui;
  margin-left: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.cerrar-sesion{
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
}

.icono-cerrar-sesion{
  margin-right: 5px;
}

.inicio-container{
  display: flex;
  flex-direction: row;
}
.inicio-container-izq{
  background-color: #4d4d4d;
  width: 20%;
}
.inicio-container-cen{
  background-color: #333333;
  width: 60%;
}
.inicio-container-der{
  background-color: #4d4d4d;
  width: 20%;
}

.publicacion-header{
  display: flex;
  justify-content: space-between;
}

.publicacion{
  color: white;
  background-color: #737373;
  margin: 5px;
  border-radius: 10px;
  padding: 15px;
}

.publicacion-nombre-uno{
  font-weight: 600;
  margin-left: 10px;
}

.publicacion-texto{
  margin-top: 10px;
  margin-bottom: 10px;
}

.publicacion-interaccion{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-weight: 600;
  color: #cccccc;
}

.crear-publicacion{
  background-color: #595959;
  margin: 5px;
  border-radius: 10px;
  padding: 15px;
}

.crear-publicacion-header{
  display: flex;
  color: white;
}

.crear-publicacion-texto {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  font-family: system-ui;
}

.button-publicar{
  background-color: gray;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.button-subir-foto{
  background-color: gray;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.imagen-publicacion {
  width: 100%;
}

.publicacion-img-nombre{
  display: flex;
  cursor: pointer;
}

.icono-eliminar-publicacion{
  cursor: pointer;
}

.perfil-container{
  display: flex;
  flex-direction: row;
}
.perfil-container-izq{
  background-color: #4d4d4d;
  width: 20%;
}
.perfil-container-cen{
  background-color: #333333;
  width: 60%;
  min-height: 93.5vh;
}
.perfil-container-der{
  background-color: #4d4d4d;
  width: 20%;
}
.perfil-header{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.perfil-header-nombre{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.perfil-header-lugar{
  color: white;
}

.perfil-contenido-publicaciones{
  background-color: #333333;
  display: flex;
}
.container-fotos-amigos{
  width: 40%;
}
.container-publicaciones-usuario{
  width: 60%;
}

.container-megusta{
  display: flex;
  cursor: pointer;
}

.me-gustas-acumulados{
  display: flex;
}

.container-megusta-activo{
  display: flex;
  cursor: pointer;
  color: #3399ff;
}

.publicacion-fecha{
  margin-left: 10px;
  font-size: 12px;
  margin-top: 4px;
}

.publicacion-container{
  display: flex;
  flex-direction: row;
  min-height: 93.5vh;
}

.circulo-notificaciones{
  background-color: #4d4d4d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificacion{
  cursor: pointer;
  max-width: 200px;
  margin-bottom: 10px;
}

.notificacion-cantidad{
  position: absolute;
  background-color: red;
  color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 55px;
  top: 7px;
  font-weight: 700;
}

.navbar-primer-contenedor{
  display: flex;
}

.svg-facebook{
  z-index:2;
}

.circulo-blanco-fondo{
  position: absolute;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 1;
  left: 14px;
  top: 14px;
}

.perfil-nombre-imagen{
  display: flex;
  align-items: center;
}

.aniadir-amigo{
  display: flex;
  padding: 10px;
  font-size: 15px;
  color: white;
  background-color: #1a75ff;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.solicitud-enviada{
  display: flex;
  padding: 10px;
  font-size: 15px;
  color: black;
  background-color: white;
  border: none;
  font-weight: 600;
  border-radius: 10px;
}
.solicitudes-container{
  display: flex;
  flex-direction: row;
}
.solicitudes-container-izq{
  background-color: #4d4d4d;
  width: 20%;
}
.solicitudes-container-cen{
  background-color: #333333;
  width: 60%;
  min-height: 93.5vh;
}
.solicitudes-container-der{
  background-color: #4d4d4d;
  width: 20%;
}
.solicitudes-title{
  text-align: center;
  color: white;
}

.nombre-solicitud{
  cursor: pointer;
  font-weight: 600;
}

.solicitud-container{
  margin: 5px;
  background-color: #595959;
  border-radius: 10px;
  padding: 20px;
}

.button-aceptar-solicitud{
  background-color: white;
  padding: 10px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.amigo{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.img-amigo{
  max-width: 90%;
  border-radius: 5px;
  aspect-ratio: 1 / 1; /* Esto obliga a que el alto sea igual al ancho */
  object-fit: cover;
}

.amigos-title{
  font-size: 20px;
  color: white;
  margin-left: 5px;
  margin-bottom: 15px;
  font-weight: 700;
}